<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="my-3">Add a new cat</h1>
    <form (ngSubmit)="createCat()" #addCatForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" required [(ngModel)]="newCat.name" name="name">
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" placeholder="Enter age" required [(ngModel)]="newCat.age" name="age">
      </div>
      <div class="form-group">
        <label for="name">Breed</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" required [(ngModel)]="newCat.breed" name="breed">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!addCatForm.form.valid"><i class="fas fa-check"></i> Submit</button>
      <button type="button" class="btn btn-danger ml-1" [routerLink]="['/']"><i class="fas fa-times"></i> Cancel</button>
    </form>
  </div>
</div>
